.invoice-box {
    max-width: 900px;
    margin: auto;
    padding: 0px 20px 0 20px;
 /* border: 1px solid #eee; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 15px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #000;
    font-weight:500;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}


.invoice-box table tr.heading th {
    /* background: #eee;
    border-bottom: 1px solid #ddd; */
    font-weight: bold;
    padding: 5px 0px;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    
   
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}
table {
display: table;
border-collapse: collapse;
border-spacing: 2px;
border-color: grey;
}
.user-summary td {
border: 1px solid black;
}
.heading table td {
text-align:center !important;
border:1px solid black;
}
.heading table th {
text-align:center !important;
border:1px solid #ccc;
}