<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item _sale" [ngClass]="redirect === 'sale' ? 'active' : 'none'">
    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="sales"
      (click)="redirectToDashbaord()" aria-selected="true">Sales </a>
  </li>
  <!-- <li class="nav-item _appt" [ngClass]="redirect == 'appt' ? 'active' : 'none'">
    <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="appointments" (click)="redirectToAppointment()"
      aria-selected="false">Appointments</a>
  </li> -->
  <li class="nav-item" [ngClass]="redirect == 'time-clock' ? 'active' : 'none'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="time" aria-selected="false"
      (click)="redirectToTimeClocks()">Time clocks</a>
  </li>
  <!-- <li class="nav-item"  [ngClass]="redirect == 'schedule' ? 'active' : 'none'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="schedule" aria-selected="false"
      (click)="redirectToSchedule()">Schedule</a>
  </li> -->
  <li class="nav-item" [ngClass]="redirect == 'reports' ? 'active' : 'none'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="reports" aria-selected="false"
      (click)=" redirectToReport()">Reports</a>
  </li>
  <li class="nav-item" [ngClass]="redirect == 'manager' ? 'active' : 'none'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="manager"
      (click)="redirectToManager()" aria-selected="false">Manager</a>
  </li>
  <li class="nav-item" [ngClass]="redirect == 'inventory' ? 'active' : 'none'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="inventory" aria-selected="false"
      (click)="redirectToInventory()">Inventory</a>
  </li>
  <li class="nav-item" [ngClass]="redirect == 'setup' ? 'active' : 'none'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="setup" aria-selected="false"
      (click)="redirectToSetup()">Setup</a>
  </li>
</ul>

<div id="secondaryLoginModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Secondary Login</h3>
      </div>
      <form>
        <div class="modal-body">
          <br>
          <div class="form-group">
              <div class="col-md-1 col-sm-2 login_form-left">
                </div>
            <div class="col-md-3 col-sm-6 login_form-left">
              <label>User Name</label>
            </div>
            <div class="col-md-7 col-sm-5 login_form-right">
              <input type="text" class="form-control" [(ngModel)]="mailId" (ngModelChange)="errorClear()" name="some"
                placeholder="Employee Id">
            </div>
            <div class="clear"></div>
          </div>
          <div class="form-group">
              <div class="col-md-1 col-sm-2 login_form-left">
                </div>
            <div class="col-md-3 col-sm-6 login_form-left">
              <label>Password</label>
            </div>
            <div class="col-md-7 col-sm-5 login_form-right">
              <input type="password" class="form-control" [(ngModel)]="password" (ngModelChange)="errorClear()"
                name="password" placeholder="Employee Password">
            </div>
            <div class="form-group" style="text-align: center">
              <label *ngIf="errorMessage" class="alertRed">Invalid Credentials</label>
            </div>

            <div class="clear"></div>
          </div>
        </div>

        <div class="login_form-submit">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
              <button type="submit" [disabled]="btnDisable" (click)="loginSubmite()"
                class="btn btn-primary submit-button">Sign
                In
              </button>
            </div>
            <div class="col-sm-2">
              <button type="submit" data-dismiss="modal" class="btn btn-warning"
                (click)="redirectToHome();clearInvalidCredentials()">Cancel</button>
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="row"><br>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color:white">Loading...</p>
</ngx-spinner>