<div class="sales-tab2">
  <div class="col-md-4 col-sm-5 str-sec2">
    <ul>
      <li style="cursor: pointer" (click)="newSaleClick()">
        <a>
          <i class="far fa-address-card"></i>
          <br>Sales</a>
      </li>
      <li style="cursor: pointer">
        <a>
          <i class="far fa-clock"></i>
          <br>Time Clocks</a>
      </li>
      <li style="cursor: pointer">
        <a>
          <i class="fas fa-user-circle"></i>
          <br>Manager</a>
      </li>
      <li style="cursor: pointer">
        <a>
          <i class="fas fa-motorcycle"></i>
          <br>Inventory</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-sm-7 str-sec2">
    <ul>
      <li style="cursor: pointer" (click)="newSaleClick()">
        <a>
          <i class="fas fa-tags"></i>
          <br>New Sale</a>
      </li>
      <!-- <li data-toggle="modal" data-target="#offersModel">
        <a>
          <i class="fas fa-caret-right"></i>
          <br>Offers</a>
      </li> -->
      <li style="cursor: pointer" (click)="bookingFormClick()">
        <a>
          <i class="fab fa-wpforms"></i>
          <br>Booking Form</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/sale/global-search']">
          <i class="far fa-lightbulb"></i>
          <br>Global Search</a>
      </li>
      <li style="cursor: pointer" data-toggle="modal" data-target="#priceCheck">
        <a>
          <i class="fas fa-check"></i>
          <br>Price Check</a>
      </li>
      <li style="cursor: pointer" (click)="logOutClick()">
        <a>
          <i class="fas fa-sign-out-alt"></i>
          <br>Sign Out</a>
      </li>

    </ul>
  </div>
  <div class="clear"></div>
</div>
<!-- <div class="footer">
  <div class="col-sm-6">
    <div class="sales-tab2">
      <div class="col-md-8 col-sm-7 str-sec2">
        <ul>
          <li>
            <a>
              <br>Sales</a>
          </li>
          <li>
            <a>
              <br>Time Clocks</a>
          </li>
          <li>
            <a>
              <br>Manager</a>
          </li>
          <li>
            <a>
              <br>Inventory</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="sales-tab2">
      <div class="col-md-8 col-sm-7 str-sec2">
        <ul>
          <li (click)="newSaleClick()">
            <a>
              <i class="fas fa-tags"></i>
              <br>New Sale</a>
          </li>
          <li data-toggle="modal" data-target="#offersModel">
            <a>
              <i class="fas fa-caret-right"></i>
              <br>Offers</a>
          </li>
          <li data-toggle="modal" data-target="#searchModal">
            <a>
              <i class="far fa-lightbulb"></i>
              <br>global Search</a>
          </li>
          <li data-toggle="modal" data-target="#priceCheck">
            <a>
              <i class="fas fa-check"></i>
              <br>Price Check</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div> -->

<div id="priceCheck" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="price-info">
        <h2>Price Check</h2>
      </div>
      <div class="search">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
              <label for="input" class="col-md-3 control-label">Variant</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input type="text" placeholder="Search By Variant" name="variant" class="form-control" [(ngModel)]="selectedVariant"
                    (ngModelChange)="variantSearch($event)" [typeahead]="variantData" typeaheadOptionField="variant_name"
                    (typeaheadOnSelect)="onSelectVariant($event)">
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12">
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12">
            <button type="submit" class="btn btn-primary" (click)="searchVehicleDetails()">Search</button>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12">
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12">
            <button type="submit" class="btn btn-warning" (click)="detailsReset()">Reset</button>
          </div>
        </div>
      </div>
      <div class="tableShow" [style.visibility]="pricelistStyle">
        <p-table #dt [columns]="cols" [value]="priceList" [paginator]="true" [rows]="4">
          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width:auto">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>

            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-i="rowIndex" let-vehicle>
            <tr>
              <td *ngFor="let col of cols">
                {{vehicle[col.field]}}
              </td>

            </tr>

          </ng-template>

        </p-table>
      </div>
      <hr>
      <div class="select-stylist-footer-right">
        <ul>
          <li>
            <a data-dismiss="modal">
              <i class="fas fa-times"></i>
              <br>Cancel</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="offersModel" class="modal fade" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="price-info">
        <h2>New Offers</h2>
      </div>
      <div class="search">
        <h2>Comming Soon...</h2>
      </div>
      <hr>
      <div class="select-stylist-footer-right">
        <ul>
          <li>
            <a data-dismiss="modal">
              <i class="fas fa-times"></i>
              <br>Cancel</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>