<simple-notifications [options]="options"></simple-notifications>
<div class="row">
  <div class="col-sm-6">
    <h3 style="font-weight:600; padding: 7px;">Bulk Vehicle Upload</h3>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn" (click)="backToVehicleDetails()">Back</button>
  </div>
</div>
&nbsp;
<!-- <div class="add-bulk" style="padding-left: 450px;">
  <div class="container">
    <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
    <button type="button" class="btn btn-info" (click)="Upload()">Upload</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-warning" (click)="addBulkVehicles()">Submit</button>
  </div>

</div> -->

<div class="add-bulk" style="padding-left: 200px;">
  <div class="container">
      <div class="row form-group">
        <div class="col-sm-2"></div>
          <label class="col-sm-3 col-form-label required" style="font-size: 16px;color:gray">Select Vehicles Excel
              Sheet:<b style="color:red">*</b></label>
          <div class="col-sm-7">
              <div class="file">
                  Choose File
                  <input type="file" class="hide_file" style="display: inline-block;" (change)="incomingfile($event)"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
              </div> &nbsp;&nbsp;&nbsp;&nbsp;
              <button *ngIf="file" type="button" class="btn btn-info" (click)="Upload()">Upload</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button *ngIf="list.length!==0" type="button" class="btn btn-warning" (click)="addBulkVehicles()">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
  </div>
</div>

<div class="tableShow" [style.visibility]="enableErrorData">
  <p-table #dt [columns]="cols" [value]="errorData" [paginator]="true" [rows]="4">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-err>
      <tr>
        <td *ngFor="let col of cols">
          {{err[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#f5c585" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>