<div class="reversal padding-20">
  <div class="row">
    <div class="col-sm-6">
      <h3 style="font-weight:600; padding: 7px;">Rejected List</h3>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2">
      <button type="button" class="btn backBtn" (click)="backToInventory()">Back</button>
    </div>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>

<div class="indent-list">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
      <label for="input" class="col-md-3 control-label">Branch</label>
      <div class="col-md-7">
        <select class="form-control" [(ngModel)]="vehicleBranchFilter">
          <option value="" selected>All</option>
          <option *ngFor="let data of this.brData" [ngValue]=" data.branch_id ">{{data.branch_name}}</option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
      <label for="input" class="col-md-3 control-label">Model</label>
      <div class="col-md-7">
        <select class="form-control" [(ngModel)]="vehicleModelFilter">
          <option value="" selected>All</option>
          <option *ngFor="let data of this.modelData" [ngValue]=" data.vehicle_model_id">{{data.model_name}}</option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
      <label for="input" class="col-md-3 control-label">Color</label>
      <div class="col-md-7">
        <select class="form-control" [(ngModel)]="vehicleColorFilter">
          <option value="" selected>All</option>
          <option *ngFor="let data of this.colorData" [ngValue]=" data.vehicle_color_id">{{data.color_name}}</option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
      <label for="input" class="col-md-3 control-label">Variant</label>
      <div class="col-md-7">
        <select class="form-control" [(ngModel)]="vehicleVariantFilter">
          <option value="" selected>All</option>
          <option *ngFor="let data of this.variantData" [ngValue]=" data.vehicle_variant_id">{{data.variant_name}}
          </option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <button type="submit" class="btn btn-primary" (click)="detailsGo()">Submit</button>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12">
    <button type="submit" class="btn btn-warning" (click)="detailsReset()">Reset</button>
  </div>
  <div class="clear"></div>
</div>&nbsp;

<p-table #dt [value]="inventoryData" [columns]="cols" [paginator]="true" [rows]="5">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-cols>
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-i="rowIndex" let-inventory>
    <tr>
      <td *ngFor="let col of cols">
        {{inventory[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>