<div id="loginModal" class="modal fade" role="dialog" data-backdrop="static" style="background-color: #fff">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="login-form">
        <div class="login_form">
            <img src="./assets/images/TVS-logo-1.png"  alt="TVS" class="center">
            <!-- <img src="../../assets/images/TVS-logo-1.png"  alt="TVS" class="center"> -->
          <form>
            <div class="form-group">
              <div class="col-md-4 col-sm-6 login_form-left">
                <label>Employee Id</label>
              </div>
              <div class="col-md-8 col-sm-6 login_form-right">
                <input type="text" class="form-control" [(ngModel)]="mailId"  name="some" placeholder="Employee Id">
              </div>
              <div class="clear"></div>
            </div>
            <div class="form-group">
              <div class="col-md-4 login_form-left">
                <label>Employee Password</label>
              </div>
              <div class="col-md-8 col-sm-6 login_form-right">
                <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Employee Password">
              </div>
              <div class="form-group">
                  <label *ngIf="errorMessage" class="alertRed">Invalid Credentials</label>
                </div>
              <div class="clear"></div>
            </div>
            <div class="login_form-submit">
              <button type="submit" (click)="loginSubmite()" class="btn btn-primary submit-button">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color:white">Loading...</p>
</ngx-spinner>