<div class="col-md-2 col-sm-2 col-xs-12 manager-tap-left" [style.visibility]="titleStyle">
  <div class="nav flex-column nav-pills rs-1-left-button" id="__setup" role="tablist" aria-orientation="vertical">
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToBranch()" data-toggle="pill" href="#branchDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Branch</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToVehicle()" data-toggle="pill" href="#vehicleDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Vehicle</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)=" redirectToPriceList()" data-toggle="pill" href="#priceDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Price List</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)=" redirectToSendOTPNo()" data-toggle="pill" href="#sendOTPDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Discount Appr No.</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)=" redirectToFinance()" data-toggle="pill" href="#financeDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Finance Names</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)=" redirectToWallet()" data-toggle="pill" href="#walletDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Wallets</a>
  </div>
</div>