<div class="tableShow">
    <div class="clock-in-services">
      <div class="clock-in-services1">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-md-4 col-form-label">Employee Id </label>
            <div class="col-md-8">
              <input type="email" class="form-control" [(ngModel)]="mailId" [ngModelOptions]="{standalone: true}"
                placeholder="Employee Id">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-md-4 col-form-label">Employee Password </label>
            <div class="col-md-8">
              <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                placeholder="Employee Password">
            </div>
          </div>
  
        </form>
        <div class="clear"></div>
  
      </div>
  
      <div class="clock-in-services2">
        <div class="clock-in-date">
          <div class="col-md-4 col-sm-4 date-time-left">
            <h3>Employee Name:{{mailId}}</h3>
          </div>
          <div class="col-md-4 col-sm-4 date-time-center">
            <h3></h3>
          </div>
          <div class="col-md-4 col-sm-4 date-time-right">
            <h3>Employee Id: {{this.data.emp_id}}</h3>
          </div>
          <div class="clear"></div>
        </div>
        <!---employee data-->
  
        <div class="full-date">
          <div class="col-md-6 col-sm-6 full-date-left">
            <h4>Current Date: {{today | date:'fullDate'}}
              <span id="demonew"></span>
            </h4>
          </div>
          <div class="col-md-6 col-sm-6 full-date-right">
            <h4>Current Time: {{today | date:'mediumTime'}}
              <span id="demo"></span>
            </h4>
          </div>
          <div class="clear"></div>
        </div>
        <div class="col-md-3 col-sm-4 clock-in-services2-left">
          <div class="cisl-buttons">
            <button class="btn btn-primary submit-button" (click)="clockInTime();" [disabled]="disable_time_in ">Clock
              In</button>
          </div>
          <div class="cisl-buttons">
            <button class="btn btn-primary submit-button" (click)="breakOutTime();" [disabled]="disable_break_out">Break
              Out</button>
          </div>
          <div class="cisl-buttons">
            <button class="btn btn-primary submit-button" (click)="breakInTime(); " [disabled]="disable_break_in">Break
              In</button>
          </div>
          <div class="cisl-buttons">
            <button class="btn btn-primary submit-button" (click)="clockOutTime();" [disabled]="disable_time_out">Clock
              Out</button>
          </div>
          <div class="cisl-buttons1">Total Hours Worked Today
            <input type="text" name="name" value="" [(ngModel)]="finalHours">
          </div>
        </div>
        <div class="col-md-6 col-sm-4 clock-in-services2-center">
          <h4>Clock In / Out</h4>
          <table width="100%">
            <tr>
              <th width="25%"></th>
              <th width="25%">Clock Time</th>
              <th width="25%">Edited Time</th>
              <th width="25%">Position</th>
            </tr>
            <tr>
              <td>Check-In</td>
              <td>{{data.check_in_time | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
            <tr>
              <td>Break-1 Out</td>
              <td>{{data.break_out1 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
            <tr>
              <td>Break-1 In</td>
              <td>{{data.break_in1 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
            <tr>
              <td>Break-2 Out</td>
              <td>{{data.break_out2 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
            <tr>
              <td>Break-2 In</td>
              <td>{{data.break_in2 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
  
            <tr>
              <td>Break-3 Out</td>
              <td>{{data.break_out3 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
            <tr>
              <td>Break-3 In</td>
              <td>{{data.break_in3 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
  
            <tr>
              <td>Break-4 Out</td>
              <td>{{data.break_out4 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
            <tr>
              <td>Break-4 In</td>
              <td>{{data.break_in4 | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
  
            <tr>
              <td>Check-Out</td>
              <td>{{data.check_out_time | date:'mediumTime'}}</td>
              <td>{{test}}</td>
              <td>{{test}}</td>
            </tr>
          </table>
        </div>
          <!-- <div class="col-md-3 col-sm-4 clock-in-services2-right">
            <h4>Reports</h4>
            <div class="cisr-buttons" data-toggle="modal" data-target="#commonApp">
              <a (click)="printCommonApp('Today');">Print Today Appointment</a>
            </div>
            <div class="cisr-buttons" data-toggle="modal" data-target="#commonApp">
              <a (click)="printCommonApp('Next Today');">Print Next Day Appointment</a>
            </div>
            <div class="cisr-buttons" data-toggle="modal" data-target="#commonApp">
              <a (click)="printCommonApp('Month');">Print Month Appointment</a>
            </div>
            <div class="cisr-buttons" data-toggle="modal" data-target="#commonApp">
              <a (click)="printTodayMiniStmt();">Print Mini Production Report</a>
            </div>
          </div> -->
        <div id="commonApp" class="modal fade" role="dialog" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="container">
                <h2 class="printOptions">
                  Print {{this.printAppModelText}} Appointments
                  <span (click)="xlDownload();" class="printOptions" title="Export to Excel"><i class="far fa-file-excel"></i></span>
                  <span (click)="pdfDownload();" class="printOptions" title="Export to PDF"><i class="fas fa-file-pdf"></i></span>
                  <i class="fa fa-arrow-circle-left backBtnForApp" data-dismiss="modal"></i>
                </h2>
                <div class="scrollableTable">
                  <table class="table-bordered">
                    <thead>
                      <tr>
                        <th>Clients</th>
                        <th>Mobile Phone</th>
                        <th>Service</th>
                        <th>Stylist</th>
                        <th>Duration</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let appt of apptInfo">
                        <td>{{appt.name}}</td>
                        <td>{{appt.mobile}}</td>
                        <td>{{appt.servicename}}</td>
                        <td>{{appt.services}}</td>
                        <td>{{appt.difftime}}</td>
                        <td>{{appt.starttime}}</td>
                        <td>{{appt.endtime}}</td>
                        <td>{{appt.payable_amount}}</td>
                      </tr>
                      <tr *ngIf="!apptInfo || apptInfo.length ==0">
                        No Records Found
                      </tr>
                    </tbody>
                  </table>
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
        <button type="submit" style="float:right;" data-toggle="model" data-target="#myModal" (click)="RedirectToHome()">Logout</button>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
